<h1>MENU</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {{#each menu}}
  <div class="col">
    <div class="card text-bg-primary">
      <div class="card-header">
        <h5>{{this.nomemenu}}</h5>
      </div>
      <div class="card-body">
        <!--<h5 class="card-title">{{this.nomemenu}}</h5>-->
        <p class="card-text">{{this.descrizionemenu}}</p>
        <a href="#" class="btn btn-warning ">Vai al menù</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>